/* grid css start */
.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.xs-grid-cols-2 {
    @media (min-width: 425px) {
        grid-template-columns: 1fr 1fr;
    }
}
.grid-col-5 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.grid-col-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    @media (max-width: 1199px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 574px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 574px) {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}
.grid-col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    @media (max-width: 1199px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    @media (max-width: 574px) {
        grid-template-columns: 1fr; 
        gap: 24px;
    }
}
/* grid css end */