/* Height Css Class Start */
@each $property, $value in $spaces {
  .tw-h-#{$property} {
    height: $value;
  }
}

.tw-h {
  &-px {
    height: 1px;
  }
  &-screen {
    height: 100vh;
  }
  &-75-px {
    height: 75px;
  }
  &-84-px {
    height: 84px;
  }
  &-92-px {
    height: 92px;
  }
  &-100-px {
    height: 100px;
  }
  &-115-px {
    height: 115px;
  }
  &-162-px {
    height: 162px;
  }
  &-170-px {
    height: 170px;
  }
  &-216-px {
    height: 216px;
  }
  &-250-px {
    height: 250px;
  }
  &-320-px {
    height: 320px;
  }
  &-382-px {
    height: 382px;
  }
  &-500-px {
    height: 500px;
  }
}

.tw-min-h {
  &-184-px {
    min-height: 184px;
  }
  &-210-px {
    min-height: 210px !important;
  }
}
.tw-h-96-px {
  height: 96px;
}
/* Height Css Class End */
