/* Max width Css Class Start */
.max-w {
    &-170-px {
        max-width: 170px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-230-px {
        max-width: 230px;
    }
    &-260-px {
        max-width: 260px;
    }
    &-275-px {
        max-width: 275px;
    }
    &-300-px {
        max-width: 300px;
    }
    &-326-px {
        max-width: 326px;
    }
    &-410-px {
        max-width: 410px;
    }
    &-450-px {
        max-width: 450px;
    }
    &-520-px {
        max-width: 520px;
    }
    &-500-px {
        max-width: 500px;
    }
    &-550-px {
        max-width: 550px;
    }
    &-580-px {
        max-width: 580px;
    }
    &-600-px {
        max-width: 600px;
    }
    &-670-px {
        max-width: 670px;
    }
    &-750-px {
        max-width: 750px;
    }
    &-780-px {
        max-width: 780px;
    }
    &-810-px {
        max-width: 810px;
    }
    &-1140-px {
        max-width: 1140px;
    }
    &-1290-px {
        max-width: 1290px;
    }
    &-1380-px {
        max-width: 1380px;
    }
    &-1450-px {
        max-width: 1450px;
    }
    &-1500-px {
        max-width: 1500px;
    }
    &-1600-px {
        max-width: 1600px;
    }
}
/* Max width Css Class End */